In [8]:
import uuid
import pandas as pd

In [16]:
# URLs for the data
patron_path = r'C:\Users\Ben\IdeaProjects\hrp-machine-learning\data\wh_data\Patron_Checkouts.xlsx'

patron_df = pd.read_excel(patron_path)

In [39]:
print(len(patron_df))
patron_df.head()

90878

,Patron Barcode,Title,Author's Name,Holdings Barcode,Date of Action,Unnamed: 5,Unnamed: 6
0,10010,Of mice and men,"Steinbeck, John,",120181,01/19/2021 03:57:26PM,NaN,NaN
1,10010,ILL - The truth at daybreak,"Torockio, Christopher",90000718,03/11/2021 12:19:29PM,NaN,NaN
2,10010,ILL - The truth at daybreak,"Torockio, Christopher",90000718,04/08/2021 04:24:14PM,NaN,NaN
3,10041,The unforgotten : a novel,"Powell, Laura",123448,05/01/2021 11:43:20AM,NaN,NaN
4,10041,"Star Wars, the clone wars.","Hibbert, Clare,",131727,05/01/2021 11:43:22AM,NaN,NaN

In [110]:
# Remove entries that flow into extra columns
patron_df_trim = patron_df[patron_df['Unnamed: 5'].isnull()]
patron_df_trim = patron_df[patron_df['Unnamed: 6'].isnull()]

# Remove extra columns and rename remaining columns
patron_df_trim = patron_df.drop(columns=['Holdings Barcode', 'Date of Action', 'Unnamed: 5', 'Unnamed: 6'])
patron_df_trim = patron_df_trim.rename(columns={'Patron Barcode': 'patron_id', 'Title': 'title', 'Author\'s Name': 'author'})

In [111]:
# Drop entries with null values
patron_df_trim = patron_df_trim.dropna()

In [117]:
# Split mutiple authors on ; and author first and last on ,
patron_df_trim['author'] = patron_df_trim['author'].str.split(';', expand=True)[0]
patron_df_split = patron_df_trim

patron_df_split['author_last'] = patron_df_split['author'].str.split(',', expand=True)[0]
patron_df_split['author_first'] = patron_df_split['author'].str.split(',', expand=True)[1]

patron_df_split = patron_df_split.drop(columns = ['author'])

       patron_id                        title author_last  author_first
0          10010              Of mice and men   Steinbeck          John
1          10010  ILL - The truth at daybreak    Torockio   Christopher
2          10010  ILL - The truth at daybreak    Torockio   Christopher
3          10041    The unforgotten : a novel      Powell         Laura
4          10041   Star Wars, the clone wars.     Hibbert         Clare
...          ...                          ...         ...           ...
90871      18182      The scarecrow : a novel    Connelly       Michael
90872      18182                 Fair warning    Connelly       Michael
90873      18182                 Fair warning    Connelly       Michael
90874      18182                The late show    Connelly       Michael
90875      18182                The late show    Connelly       Michael

[76211 rows x 4 columns]